section {
	margin: 60px auto
}

.too-long {
	max-width: 168px
}

.contact-banner {
	height: 450px;
	background-image: url(//www4.djicdn.com/assets/images/img/contact-banner-8cf79cf4ad2eff58c62363c68f98bba5.jpg);
	background-position: center center;
	background-color: #fcfcfc;
	background-repeat: no-repeat
}

.menu li {
	line-height: 20px;
	border-left: 2px solid transparent;
	padding-left: 20px;
	margin: 10px 0;
	text-transform: uppercase
}

.menu li ul li {
	position: relative
}

.menu li ul li:before {
	display: inline-block;
	content: "";
	width: 3px;
	height: 3px;
	background: #707473;
	position: absolute;
	top: 9px;
	left: 6px;
	border-radius: 50%
}

.menu .active {
	border-left: 2px solid #44a8f2
}

#edu-s1 h3,.text-block-title {
	font-size: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: 400;
	color: #707473
}

.address-list .col-sm-6 {
	margin-bottom: 15px;
	padding-left: 0
}

#edu-s1 p a,.address-list a,.company-modal p a {
	color: #44a8f2
}

.address-list dt {
	float: left;
	clear: both;
	min-width: 178px;
	line-height: 1.2;
	font-size: 13px;
	font-weight: 600
}

.address-list dt .sec-line {
	margin: -24px 0 0 168px
}

.address-list dd {
	margin-left: 178px;
	line-height: 1.2;
	font-size: 13px
}

.address-list.address-list-sp dd {
	margin-left: 280px
}

.dji-ko .address-list.address-list-sp dd,.dji-zh-CN .address-list.address-list-sp dd,.dji-zh-TW .address-list.address-list-sp dd {
	margin-left: 168px
}

.company-modal .modal-content {
	border-radius: 0
}

.company-modal .modal-content .modal-header {
	padding: 25px
}

.company-modal .modal-content .modal-header h4 {
	color: #707473;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase
}

.company-modal .modal-content .modal-body {
	padding: 25px 25px 40px
}

.company-modal p {
	line-height: 24px;
	margin-bottom: 20px;
	text-align: justify
}

.company-modal h4 {
	font-weight: 300;
	color: #44a8f2;
	font-size: 1.4em
}

.company-modal ul {
	list-style-type: disc;
	margin-left: 40px
}

#about-banner,#edu-banner {
	background-size: cover;
	position: relative
}

#about-banner {
	background: url(../imanges/about1.jpg) 50% top no-repeat;
	height: 450px
}

#about-banner h1,#edu-banner h1 {
	position: absolute;
	left: 50%;
	text-transform: uppercase;
	font-weight: 300
}

#about-banner h1 {
	margin-top: -20px;
	text-align: center;
	top: 50%;
	width: 600px;
	margin-left: -300px
}

#company-s1 .desc {
	padding-top: 8px
}

#company-s1 p,#edu-s1 p {
	line-height: 22px;
	margin-bottom: 20px;
	font-size: 14px
}

#edu-s1 p {
	margin-bottom: 25px;
	font-size: 13px
}

#company-s1 .desc,#company-s1 .jp-content {
	margin-bottom: 30px
}

#company-s1 .jp-content .article {
	margin-top: 20px;
	margin-bottom: 35px
}

#edu-banner {
	background: url(//www2.djicdn.com/assets/images/img/dji-edu-eb9725eb579d4acab14f563657e926f8.jpg) 50% top no-repeat;
	height: 560px
}

#edu-banner h1 {
	top: 40%;
	width: 840px;
	margin-left: -420px;
	color: #fff;
	font-size: 50px
}

#edu-s1 p a:hover {
	text-decoration: underline
}

#edu-s1 .section-title {
	margin-top: 10px
}

#edu-s1 .text {
	margin-bottom: 40px
}

.portfolio-list h6 {
	margin: 8px 0;
	font-weight: 400
}

.portfolio-list .info {
	height: 60px;
	margin: 8px 0 10px;
	color: #707473
}

.portfolio-list .info .title {
	font-size: 12px;
	font-weight: 400
}

.portfolio-list .info .date {
	font-size: 10px;
	display: inline-block;
	margin-top: 5px
}

.portfolio-list .iframe {
	position: relative;
	display: block;
	overflow: hidden
}

.portfolio-list .cover {
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 1000ms
}

.portfolio-list .cover:hover {
	-webkit-transform: scale(1.15);
	transform: scale(1.15)
}

@media (max-width:767px) {
	section {
		margin: 0
	}

	.contact-section {
		margin-bottom: 2rem
	}

	.contact-section:nth-of-type(1) .text-block-title {
		margin-top: 2rem
	}

	#about-banner {
		display: none
	}

	#company-mobile-s1 {
		margin: 2rem 0 3rem
	}

	#company-mobile-s1 h3,#edu-s1 h3 {
		margin-top: 2.5rem;
		margin-bottom: 1rem
	}

	#company-mobile-s1 p,#edu-s1 p {
		margin-bottom: 1rem
	}

	#company-mobile-s1 p:last-child,#edu-s1 p:last-child {
		margin-bottom: 0
	}

	#company-mobile-s1 .menu {
		margin-left: -15px
	}

	#edu-s1 {
		margin: 1rem 0 3rem
	}

	#edu-s1 .menu {
		margin-bottom: 3rem
	}

	#company-s1 {
		padding-top: 2rem
	}

	#company-s1 h2,#company-s1 h3 {
		margin-top: 2rem
	}

	#company-s1 h3 {
		font-size: 1.4rem
	}

	.address-list {
		line-height: 1.4rem
	}

	.address-list .col-sm-6 {
		padding-left: 0
	}

	.address-list dt {
		float: none;
		line-height: 24px
	}

	.address-list dd {
		margin-bottom: .8rem;
		margin-left: 0!important;
		line-height: 24px
	}

	#contact-s1 .company-modal .modal-content .modal-body a,.address-list a {
		color: #44a8f2
	}

	.address-list>span {
		display: inline-block;
		font-weight: 600
	}

	#contact-s1 {
		margin-bottom: 2rem
	}

	#contact-s1 img {
		margin-top: 1rem
	}

	#contact-s1 .menu,#edu-s1 .menu {
		margin-left: -15px
	}

	#contact-s1 .text-block-title {
		font-size: 1.4rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-weight: 400;
		color: #707473
	}

	#contact-s1 .company-modal .modal-content {
		border-radius: 0
	}

	#contact-s1 .company-modal .modal-content .modal-body,#contact-s1 .company-modal .modal-content .modal-header {
		padding: 1rem
	}

	#contact-s1 .company-modal .modal-content .modal-header h4 {
		color: #707473;
		font-size: 1.4rem;
		font-weight: 500;
		text-transform: uppercase
	}

	#contact-s1 .company-modal .modal-content .modal-body p {
		line-height: 1.7rem;
		margin-bottom: .8rem
	}

	#contact-s1 .company-modal .modal-content .modal-body h4 {
		font-weight: 300;
		color: #44a8f2;
		font-size: 1.4em
	}

	#contact-s1 .company-modal .modal-content .modal-body ul {
		list-style-type: disc;
		margin-left: 1.3rem
	}

	#contact-s2 .col-sm-5,#contact-s3 .col-sm-5,#contact-s4 .col-sm-5 {
		margin-bottom: 2rem
	}

	#edu-banner,.breadcrumb-nav .breadcrumb {
		display: none
	}

	.breadcrumb-nav {
		padding: 3rem 0
	}
}